.Equipe {
  &-head {
    display: flex;
    gap: 15px;
    padding: 40px 0;

    &-search {
      margin: auto;
    }

    @screen sm {
      display: block;
      position: relative;
      padding: 0;

      &-button {
        position: absolute;
        right: 38px;
        top: 0;
      }

      &-search {
        width: 33%;
        margin: 32px auto;
      }
    }
  }
}
