.Header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-img {
    position: relative;
    min-height: 140px;

    &-logo {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(50%, -50%);
    }
  }
}
