.Settings {
  &-userCard {
    border: 1px solid theme("colors.black");
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 100%;
    position: relative;
    width: 100%;

    @screen sm {
      margin: 50px auto;
      width: 50%;
    }

    &-img {
      height: 85%;
    }

    &-role {
      border-top: 1px solid theme("colors.black");
      height: 15%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-left {
      width: 40%;
      position: relative;
      border-right: 1px solid theme("colors.black");
    }

    &-right {
      width: 60%;
      padding: 5px;
      position: relative;
      display: flex;
      flex-direction: column;
    }
  }

  &-form {
    margin: 30px 5px 5px 5px;
    @screen sm {
      margin: 20px 80px 20px 20px;
    }
  }

  &-dates {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;

    @screen sm {
      flex-direction: row;
      margin-top: 0;
      gap: 45px;
    }
  }
}
