.Stepper {
  height: 100%;
  &-header {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: theme("colors.default.DEFAULT");
      top: 50%;
      transform: translateY(-50%);
    }
    &-step {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      z-index: 2;
      background-color: theme("colors.white");
      border: 2px solid theme("colors.default.DEFAULT");

      &--active {
        background-color: theme("colors.default.DEFAULT");
        color: theme("colors.white");
      }

      &--disabled {
        cursor: not-allowed;
      }
    }
  }
}
