.Container {
  display: flex;
  position: relative;
  &-headerComponent {
    width: 85px;
    background-color: theme("colors.background.header");
    height: 100%;
    position: fixed;

    &--desktop {
      display: none;
      @screen sm {
        display: block;
      }
    }
  }

  &-right {
    width: 100%;
    height: fit-content;
    margin-left: 0;
    padding-bottom: 40px;

    &-content {
      margin: 15px;
    }

    @screen sm {
      width: calc(100% - 85px);
      margin-left: 85px;

      &-content {
        margin: 45px;
      }
    }
  }

  &-burgerIcon {
    position: absolute;
    top: 10px;
    left: 10px;

    display: block;

    @screen sm {
      display: none;
    }
  }
}
