.TextInput {
  position: relative;
  margin-bottom: calc(1em * 1.5);
  width: 100%;

  &--required {
    &::after {
      content: "*";
      color: theme("colors.default.DEFAULT");
      margin-left: 5px;
    }
  }

  label {
    display: block;
    margin-bottom: 4px;
  }

  input {
    position: relative;
    border-radius: 5px;
    border: 2px solid transparent;
    padding: 15px 10px;
    outline: none;
    background-color: theme("colors.default.100");
    width: 100%;
    height: 40px;
    transition:
      border-color 0.3s ease-in-out,
      color 0.3s ease-in-out,
      background-color 0.3s ease-in-out;
  }

  input:focus {
    border-color: theme("colors.default.500");
  }

  &-togglePassword {
    position: absolute;
    right: 0;
  }

  &-help-message {
    position: absolute;
    bottom: calc(-1.5 * 1em);
    left: 0;
    margin: 0;
    font-size: 14px;
  }

  &--disabled {
    label,
    input {
      color: theme("colors.gris.600");
    }
    input {
      cursor: not-allowed;
    }
  }
}

.TextInput.has-error input {
  background-color: theme("colors.background.error");
  color: theme("colors.error");
}

.TextInput.has-error input:focus {
  border-color: theme("colors.error");
}

.TextInput.has-error .TextInput-help-message {
  color: theme("colors.error");
}
